@use "../../scss/breackpoint.scss" as *;

.product-item-wrapper {
  padding: 50px;
  display: flex;
  @include mobile {
    padding: 10px;
    flex-direction: column;
  }
}

.product-item-img {
  flex: 1;
  img {
    width: 100%;
    height: 80vh;
    object-fit: fill;
    @include mobile {
      height: 40vh;
    }
  }
}

.product-item-info {
  flex: 1;
  padding: 0px 50px;
  @include mobile {
    padding: 10px;
  }
  h1 {
    font-weight: 200;
  }
  p {
    margin: 20px 0px;
  }
  span {
    font-weight: 100;
    font-size: 40px;
  }
}

.product-item-filter {
  width: 50%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  @include mobile {
    width: 100%;
  }
}

.filter {
  display: flex;
  align-items: center;
  span {
    font-size: 20px;
    font-weight: 200;
  }
  select {
    margin-left: 10px;
    padding: 5px;
  }
}

.filter-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  // background-color: ${(props) => props.color};
  margin: 0px 5px;
  cursor: pointer;
}


.add {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile {
    width: 100%;
  }
  button {
    padding: 15px;
    border: 2px solid #21ebff;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      background-color: #f8f4f4;
    }
  }
}

.add-product {
  display: flex;
  align-items: center;
  font-weight: 700;
  span {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    font-size: 24px;
  }
  button {
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    &:hover {
      background-color: #f8f4f4;
    }
  }
}
