@use "../../scss/breackpoint.scss" as *;

.hero {
    width: 80%;
    height: 70vh;
    display: flex;
    margin: auto;
    justify-content: center;
    @include mobile {     
    display: none;
    }
// 
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 85%;
    }
}
.hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


h1 {
        // padding-bottom: 20px;
        font-size: 50px;
    }
p {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
    }
    button {
        padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
    }
   
}





.btn-animate {
    border: none;
    @include mobile {     
        display: none;
        }
    
    p
{
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
}
// a:nth-child(3)
// {
//     filter: hue-rotate(115deg);
// }
// a:nth-child(3)
// {
//     filter: hue-rotate(270deg);
// }

p:hover{
    background: #21ebff ;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.1s;
}

p:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
}
p:hover:before
{
    width: 100%;
    height: 100%;
}


p:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
}
p:hover:after
{
    width: 100%;
    height: 100%;
}
}

